<table>
  <tr>
    <td>数据接收: <span id="data-rec"></span></td>
    <td>数据包接收: <span id="packets-rec"></span></td>
    <td>错误接收: <span id="errors-rec"></span></td>
    <td>Drop 接收: <span id="drop-rec"></span></td>
  </tr>
  <tr>
    <td>数据发送: <span id="data-sent"></span></td>
    <td>数据包发送: <span id="packets-sent"></span></td>
    <td>错误发送: <span id="errors-sent"></span></td>
    <td>Drop 发送: <span id="drop-sent"></span></td>
  </tr>
</table> 

