
<div id="breadcrumb">
  <div>选择</div>
</div>
<br>
<h4>请选择对 {{display_poolName}} 进行的操作</h4>
<ol>
  <li><h4><a href="#" id="change-raid">仅改变Raid等级</a></h4></li>
  <li><h4><a href="#" id="add-disks">添加磁盘 (可选的RAID更改)</a></h4></li>
  <li><h4><a href="#" id="remove-disks">移除磁盘</a></h4></li>
  <li><h4>替换现有磁盘 (计划选项)</h4></li>
</ol> 

