<div id="breadcrumb">
  <div>选择</div>
  <div>选择RAID级别并添加磁盘</div>
</div>
<br>
<h4>当前raid级别: {{raidLevel}}</h4>

<form id="raid-change-form">
  <div class="row">
  <div class="form-group col-md-4">
     <label for="raid-level">选择一个新的raid级别</label>
    <select id="raid-level" name="raid-level" class="form-control">
      <option value="">选择一个raid级别</option>
      {{display_raid_levels}}
    </select>
    </div>
  </div>
</form>
