<div id="breadcrumb">
  <div>选择</div>
  {{display_breadCrumbs}}
  <div>总览</div>
</div>
<br>
<h4>以下更改将应用于存储池 {{poolName}}</h4>
<table class="table table-bordered">
  <tr>
    <th></th>
    <th>立即</th>
    <th>调整大小后</th>
  </tr>
  <tr>
    <td>RAID 级别</td>
    <td>{{raidLevel}}</td>
    <td><strong>{{newRaidLevel}}</strong></td>
  </tr>
  <tr>
    <td>设置磁盘</td>
    <td>{{display_diskSet}}</td>
    <td><strong>{{newDisks}}</strong></td>
  </tr>
</table>
